BOT_TOKEN=123456:replace_me
ADMIN_ID=228333796

BOT_DB_PATH=/opt/fin-vpn-bot/bot.db
XUI_DB_PATH=/etc/x-ui/x-ui.db

INBOUND_ID=1
SERVER_IP=31.57.93.95
SUB_PORT=2096
FLOW=xtls-rprx-vision

INVITE_WEB_SCHEME=http
INVITE_WEB_PORT=8081

ENABLE_XUI_RESTART=true
XUI_RESTART_COMMAND=systemctl restart x-ui

BACKUP_DIR=/opt/fin-vpn-bot/backups
RETENTION_DAYS=14
